.navbar{
    background-color: blue;
    color: beige;
    font-weight: 800;
}
.user{
    border: 1px solid gray;
    margin-right: 1%;
    border-radius: 15px;
    background-color: bisque;
}
table,tr,td,th{
    border: 1px solid gray;
}